table{
    text-align: center;
    border: 1px dotted black;
    border-spacing: 0px;
}
tr,td {
    border: 1px dotted lightgrey;
}
td:nth-last-of-type(even){
    text-align: left;
}
th{
    font-weight: normal;
}
td.vertical{
    writing-mode: bt-rl;
    background-color: white;
    text-align: center;
    transform: scale(-1,-1);
}
.title-content{
    height: 30px;
    text-align: center;
}
.row-1-content{
    background-color: #fff100;
}
.row-2-content{
    background-color: #6fb873;
}
.row-3-content{
    background-color: #be7f5e;
}
.row-4-content{
    background-color: #6a91cc;
}
.row-5-content{
    background-color: #f599c2;
}
.row-6-content{
    background-color: #ef59a1;
}
